::ng-deep .custom-ng-select .ng-dropdown-panel {
    background-color: white;
  }

  ::ng-deep .custom-ng-select .ng-dropdown-panel .ng-option {
    background-color: white;
    padding: 8px 20px; 
  }